/* *{
    border: 2px solid black;
} */

body{
    margin: 0;
}

h1{
    text-align: center;
    font-size: 1em;
}

.first{
    background-color: orange;
    height: 337.92px;
    width: 30%;
    display: inline-block;
    margin: 2%;
}

.second{
    position: absolute;
    background-color: orange;
    height: 337.92px;
    width: 30%;
    margin-top: 2%;
    display: inline-block;
    margin-bottom : 2%;
}


.third{
    position:absolute;
    left: 65%;
    background-color: orange;
    height: 337.92px;
    width: 30%;
    display: inline-block;
    margin: 2%;
}

.sub_first{
    display: inline-block;
    margin: 8%;
    background-color: green;
    height: 280px;
    width: 30%;
}

.sub_second{
    display: inline-block;
    margin: 5%;
    background-color: green;
    height: 130px;
    width: 90%;
}

p{
    margin: 0%;
    padding: 2%;
    font-size: 21px;
}

ol{
    margin: 0%;
    font-size: 21px;
}

/* p.sub_second{
    position:absolute;
    margin-block-start: 0em;
    padding: 5%;
} */

.third1{
    position: relative;
    display: inline-block;
    width: 40%;
    height: 140px;
    background-color: green;
}

.third2{
    position: relative;
    /* display: inline-block; */
    width: 40%;
    height: 140px;
    float: right;   
    background-color: green;
}

.third3{
    position: relative;
    display: inline-block;
    width: 40%;
    height: 140px;
    top: 15.5%;
    background-color: green;
}

.third4{
    position: relative;
    display: inline-block;
    width: 40%;
    height: 140px;
    top: 15.5%;
    float: right;   
    background-color: green;
}

@media(max-width: 768px){
    .first{
        position: static;
        display: block;
        margin: auto;
        margin-bottom: 3%;
    }
    .second{
        position: static;
        display: block;
        margin: 2%;
        margin: auto;
        margin-bottom: 3%;
    }
    .third{
        position: static;
        display: block;
        margin: auto;
        margin-bottom: 10%;
    }
    p{
        margin: 0%;
        padding: 2%;
        font-size: 10px
    }
    
    ol{
        margin: 0%;
        font-size: 10px;
    }
}
